@font-face {
	font-family: "Gun 3D";
	src: url("../font/gunplay3d.ttf");
}
@font-face {
	font-family: "Gun";
	src: url("../font/gunplayrg.ttf");
}
@font-face {
	font-family: "Phone";
	src: url("../font/PHONES.TTF");
}
@font-face {
	font-family: "Icon";
	src: url("../font/IconsSouth.ttf ");
}
* {
	padding: 0px;
	margin: 0px;
}
body {
	background: #9d9999 url("../imagens/fundo.png") repeat-x;
	font: 12px "Gun";
}
#container {
	width: 1450px;
	margin: 0 auto;
}
#logo {
	width: 283px;
	height: 186px;
	margin-top: 5px;
	text-indent: -99999px;
	background: url("../imagens/logo2.png") no-repeat;
}
nav {
	height: 200px;
	margin-top: -35px;
}
header {
}
#contato {
	border: 1px solid black;
}
#contato #telefone {
	height: 40px;
	color: white;
	margin-left: 900px;
	margin-top: -180px;
	padding-left: 60px;
	padding-top: 20px;
	background: url("../imagens/telefonemin2.png") no-repeat left;
	font-weight: bold;
	font-size: 13px;
}
#contato #localizacao {
	color: white;
	margin-left: 900px;
	margin-top: -20px;
	height: 40px;
	background: url("../imagens/localizacaomin2.png") no-repeat left;
	padding-top: 20px;
	padding-left: 60px;
	font-weight: bold;
	font-size: 13px;	
}
header ul {
	list-style-type: none;
	float: right;
	margin-right: 50px;
	margin-bottom: 50px;
}
header ul li {
	float: left;
	padding-left: 20px;
}
header ul li a {
	color: #c72f0e;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	display: block;
	font-weight: bold;
}
header ul li a:hover {
	border-bottom: 1px solid #c72f0e;
	color: #c72f0e;
	padding-bottom: 10px;
}
#conteudo {
	width: 880px;
	float: left;
	margin-top: -130px;
}
aside {
	width: 550px;
	float: right;
	margin-top: -130px;
}
#combo {
	padding: 30px 0;
	font-family: "Gun";
	font-size: 40px;
}
#combo h3 {
	padding-bottom: 25px;
}
#combo p {
	font-size: 20px;
	padding: 15px 0;
}
#reserva {
	background: #b06a5b;
	margin-top: 30px;
	padding: 30px 40px;
}
#reserva h4 {
	font-size: 25px;
	padding-bottom: 20px;
}
#reserva label {
	font-size: 15px;
}
legend {
	padding: 10px;;
}
#qtd {
	width: 40px;
}
#enviar input {
	width: 80px;
	height: 30px;
}
#enviar input:hover {
	width: 80px;
	height: 30px;
	cursor: pointer;
}
#video {
	margin: 50px;
	margin-left: 165px;
}
#iframe-video {
	margin-bottom: 50px;
}
#video h4 {
	font-size: 25px;	
	margin-bottom: 20px;
}
#planos {
	margin-top: 20px;
	padding-top: 80px;
	width: 1450px;
	height: 630px;
	background: #c0bbb9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#plano_caixa {
	margin-top: 0px;
	width: 350px;
	height: 480px;
	background: #767474;
}
h1 {
	display: inline;
	background: black;
	color: white;
	margin-left: 550px;
	padding: 30px 100px;
}
.titulo {
	height: 70px;
	width: 350px;
	background: #c72f0e;	
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 30px;
}
.titulo span{
	margin-top: 20px;
}
.valor {
	height: 70px;
	width: 350px;
	color: black;
	background: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 30px;
}
.titulo_meio {
	height: 70px;
	width: 350px;
	background: #db5d0c;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 30px;
}
.detalhes {
	color: white;
	text-align: center;
	font-size: 16px;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
	margin: 40px;
}
.detalhes_tempo {
	color: white;
	text-align: center;
	font-size: 16px;
	padding-bottom: 20px;
	margin: 40px;
}
#contrate {
	width: 350px;
	height: 50px;
	margin-top: -10px;
	cursor: pointer;
}
#mapa {
	margin-top: 50px;
}
iframe {
	float: left;
}
#info {
	width: 270px;
	height: 150px;
	background: #c0bbb9;
	float: right;
	padding: 20px;
}
#info h2 {
	margin-bottom: 20px;
	font-size: 30px;
}
#tel span {
	font-family: "Phone";
	font-size: 20px;
}
#local span {
	font-family: "Icon";
	font-size: 20px;
}
footer {
	margin-top: 30px;
	background: black;
	color: white;
}
.flex {
	display: flex;
	justify-content: center;
}
.flex-item {
	width: 540px;
	height: 150px;
}
.flex-item-p {
	padding-top: 50px;
	width: 540px;
	height: 120px;
}
.flex-item ul {
	list-style: none;
	padding: 20px;
}
.flex-item ul li {
	padding: 10px;
}
.flex-item ul a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	margin-left: 50px;
}
.flex-item ul a:hover {
	cursor: pointer;
	color: #c72f0e;
}	